* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background: #222831;
    color: #eeeeee;
    line-height: 1.6;
    font-size: 18px;
    padding: 20px;
}

a {
    color: #eeeeee;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 20px;
    background: #222831;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: auto;
    background: #222831;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
    color: #21e6c1;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background: #21e6c1;
    color: #222831;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background: #3fdda7;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #222831;
    border-top: 1px solid #ddd;
}

.applications {
    background: #222831;
    color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.app-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.app-card {
    background: #393e46;
    color: #eeeeee;
    padding: 15px;
    border-radius: 5px;
    width: calc(33% - 20px);
    height: 150px;
    box-sizing: content-box;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.app-card:hover {
    height: 250px;
}

.app-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.app-card:hover .app-card-inner {
    transform: rotateY(180deg);
}

.app-card-front,
.app-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.app-card-back {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 2;
    padding: 20px;
    transform: rotateY(180deg);
}

.app-card h3 {
    margin: 0;
    padding: 0.5em 0;
}

.app-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 15px;
    box-sizing: content-box;
    text-align: left;
}

.app-card:hover .app-desc {
    opacity: 1;
}
